<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.cmp.dao.OrderConfirmDao">

	<!-- 구매 리스트 목록조회 -->
	<select id = "orderConfirmMgt" resultType = "kr.happyjob.study.cmp.model.OrderConfirmModel">
					select DI.DIR_CODE
					      ,ui.company
					      ,PN.PD_NAME
					      ,JI.JORD_AMT
					      ,PN.PD_PRICE
					      ,DATE_FORMAT(JI.JORD_DATE, '%Y-%m-%d') as JORD_DATE
					      
						from DIRECTION DI	
						  inner join BORDER_INFO BI on DI.DIR_CODE = BI.DIR_CODE
						  inner join tb_userinfo ui ON ui.loginID = DI.loginID
						  inner join JORDER_INFO JI on BI.JORD_CODE = JI.JORD_CODE and BI.MODEL_CODE = JI.MODEL_CODE
						  inner join PD_INFO PN ON PN.MODEL_CODE = JI.MODEL_CODE
	</select>
	
	<!-- 구매승인 목록 총 갯수 조회 -->
	<select id="orderConfirmMgtcnt" resultType="int">
			  select count(*)
					
				from DIRECTION DI
				  inner join BORDER_INFO BI on DI.DIR_CODE = BI.DIR_CODE
				  inner join tb_userinfo ui ON ui.loginID = DI.loginID
				  inner join JORDER_INFO JI on BI.JORD_CODE = JI.JORD_CODE and BI.MODEL_CODE = JI.MODEL_CODE
				  inner join PD_INFO PN ON PN.MODEL_CODE = JI.MODEL_CODE
				  
	</select>	

</mapper>

