<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.cmp.dao.RefundConfirmDao">

	<!--반품 리스트 목록조회 -->
	<select id = "refundConfirmMgt" resultType = "kr.happyjob.study.cmp.model.RefundConfirmModel">
		SELECT	(CASE
					WHEN JI.JORD_CODE IS NOT NULL
					THEN '기업'
					WHEN BI.BORD_CODE IS NOT NULL
					THEN '발주'
				END) AS 'TYPE',
				RI.RE_CODE,
				DI.DIR_DATE,
				(CASE
					WHEN JI.JORD_CODE IS NOT NULL
					THEN JUI.company 
					WHEN BI.BORD_CODE IS NOT NULL
					THEN PUI.company
				END) AS 'name',
				RI.MODEL_CODE,
				PD.PD_NAME,
				(CASE
					WHEN RI.JORD_CODE = JI.JORD_CODE 
					THEN JI.JORD_DATE
					WHEN RI.BORD_CODE = BI.BORD_CODE 
					THEN DI.DIR_DATE 
				END) AS 'JORD_DATE',
				RI.RE_DATE,
				RI.RE_AMT,
				(PD.PD_PRICE * RI.RE_AMT) AS 'RE_PRICE',
				RI.RE_TYPE ,
				DC.detail_name 
		FROM	RETURN_INFO RI INNER JOIN DIRECTION DI ON RI.DIR_CODE = DI.DIR_CODE 
							   LEFT JOIN SHIP_INFO SI ON RI.RE_CODE = SI.RE_CODE 
							   LEFT JOIN JORDER_INFO JI ON SI.JORD_CODE = JI.JORD_CODE
							   LEFT JOIN BORDER_INFO BI ON RI.BORD_CODE = BI.BORD_CODE 
							   INNER JOIN PD_INFO PD ON RI.MODEL_CODE = PD.MODEL_CODE 
							   LEFT JOIN tb_userinfo PUI ON PD.loginID = PUI.loginID
							   LEFT JOIN tb_userinfo JUI ON JI.loginID = JUI.loginID
							   INNER JOIN tb_detail_code DC ON DC.group_code = 'approvalCD' AND RI.RE_TYPE = DC.detail_code 									  
		WHERE 		PD.PD_NAME LIKE CONCAT('%', #{searchvalue}, '%')
		LIMIT 		#{startnum},#{pagesize}
	</select>
	
	<!-- 반품 리스트 총 갯수 조회 -->
	<select id="refundConfirmMgtcnt" resultType="int">
		SELECT 	COUNT(*)
		FROM	RETURN_INFO RI INNER JOIN DIRECTION DI ON RI.DIR_CODE = DI.DIR_CODE 
							   LEFT JOIN SHIP_INFO SI ON RI.RE_CODE = SI.RE_CODE 
							   LEFT JOIN JORDER_INFO JI ON SI.JORD_CODE = JI.JORD_CODE
							   LEFT JOIN BORDER_INFO BI ON RI.BORD_CODE = BI.BORD_CODE 
							   INNER JOIN PD_INFO PD ON RI.MODEL_CODE = PD.MODEL_CODE 
							   LEFT JOIN tb_userinfo PUI ON PD.loginID = PUI.loginID
							   LEFT JOIN tb_userinfo JUI ON JI.loginID = JUI.loginID
							   INNER JOIN tb_detail_code DC ON DC.group_code = 'approvalCD' AND RI.RE_TYPE = DC.detail_code 
		WHERE  PD.PD_NAME LIKE CONCAT('%', #{searchvalue}, '%')
	</select>	
	
	<update id="SclickRefundConfirm" parameterType="Map" >
        UPDATE RETURN_INFO 
           set RE_TYPE=#{re_TYPE} 
         where RE_CODE = #{re_code}      
    </update>
    
</mapper>

