<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.scm.dao.OrderHistoryDAO">

<!-- 일별수주내역 조회 -->
<select id="getOrderHistoryList" parameterType="java.util.HashMap" resultType="kr.happyjob.study.scm.model.OrderHistoryModel">
	SELECT 	@ROWNUM:=@ROWNUM + 1 AS 'NUM',
			OH.*
	FROM 	ORDERHISTORY OH
	WHERE	(@ROWNUM:=0) = 0
	<choose>
		<when test="type != null">
			<if test="type.equals('jorder')">
				AND OH.JORDDATE BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="type.equals('return')">
				AND OH.REDATE BETWEEN #{startDate} AND #{endDate}
			</if>
		</when>
	</choose>
	<choose>
		<when test="reType != null">
			<if test="reType.equals('true')">
				AND OH.REDATE IS NOT NULL
			</if>
			<if test="reType.equals('false')">
				AND OH.REDATE IS NULL
			</if>
		</when>
	</choose>
	LIMIT 	#{startPage}, #{endPage}
</select>

<select id = "getHistoryCount" resultType="int" parameterType="java.util.HashMap">
	SELECT 	COUNT(*)
	FROM 	ORDERHISTORY OH
	<where>
		<choose>
			<when test="type != null">
				<if test="type.equals('jorder')">
					AND OH.JORDDATE BETWEEN #{startDate} AND #{endDate}
				</if>
				<if test="type.equals('return')">
					AND OH.REDATE BETWEEN #{startDate} AND #{endDate}
				</if>
			</when>
		</choose>
		<choose>
			<when test="reType != null">
				<if test="reType.equals('true')">
					AND OH.REDATE IS NOT NULL
				</if>
				<if test="reType.equals('false')">
					AND OH.REDATE IS NULL
				</if>
			</when>
		</choose>
	</where>
</select>

<!-- 창고 정보 -->
<select id="getWHInfo" parameterType="java.util.HashMap" resultType="kr.happyjob.study.scm.model.OrderHistoryModel">
	SELECT	WI.WH_CODE AS 'WHCODE', 
			WI.WH_NAME AS 'WHNAME', 
			WS.MODEL_CODE AS 'MODELCODE', 
			PD.PD_NAME AS 'PDNAME', 
			WS.WH_STOCK AS 'WHSTOCK'
	FROM	WHOUSE_STOCK WS INNER JOIN WHOUSE_INFO WI ON WS.WH_CODE = WI.WH_CODE
						   	INNER JOIN PD_INFO PD ON WS.MODEL_CODE = PD.MODEL_CODE
	WHERE	WS.MODEL_CODE = #{modelCode}
</select>

<!-- 발주지시서 정보 -->
<select id="getBorderInfo" parameterType="java.util.HashMap" resultType="kr.happyjob.study.scm.model.OrderHistoryModel">
	SELECT 	PD.MODEL_CODE AS 'MODELCODE',
			PD.PD_NAME AS 'PDNAME',
			PD.PD_CODE AS 'PDCODE',
			PD.PD_CORP AS 'PDCORP',
			PD.loginID AS 'LOGINID',
			UI.company AS 'COMPANYNAME'
	FROM 	PD_INFO PD INNER JOIN tb_userinfo UI ON PD.loginID = UI.loginID 
	WHERE 	PD.MODEL_CODE = #{modelCode}
</select>

<!-- 배송지시서 정보 --> 
<select id="getShipInfo" parameterType="java.util.HashMap" resultType="kr.happyjob.study.scm.model.OrderHistoryModel">
	SELECT 	JI.JORD_CODE AS 'JORDCODE',
			JI.JORD_DATE AS 'JORDDATE',
			UI.company AS 'COMPANYNAME', 
			JI.MODEL_CODE AS 'MODELCODE',
			PD.PD_NAME AS 'PDNAME',
			PD.PD_CODE AS 'PDCODE',
			JI.JORD_AMT AS 'JORDAMT',
			JI.JORD_IN AS 'JORDIN'
	FROM 	JORDER_INFO JI INNER JOIN tb_userinfo UI ON JI.loginID = UI.loginID  
						   INNER JOIN PD_INFO PD ON JI.MODEL_CODE = PD.MODEL_CODE 
	WHERE 	JI.JORD_CODE = #{jordCode} AND JI.MODEL_CODE = #{modelCode}
</select>

<!-- 배달 요원 -->
<select id="getDeliInfo" parameterType="java.util.HashMap" resultType="kr.happyjob.study.scm.model.OrderHistoryModel">
	SELECT 	loginID, 
			name AS 'DELINAME'
	FROM 	tb_userinfo TB
	WHERE 	user_type ='B'AND addr LIKE CONCAT('%', (SELECT SUBSTR(addr, 1, 2)
													 FROM tb_userinfo tu 
											         WHERE loginID = #{loginId}), '%')
</select>

<!-- 지시서  -->
<insert id="insertDirection" parameterType="kr.happyjob.study.scm.model.OrderHistoryModel">

</insert>

<!-- 발주지시서 -->
<insert id="insertBorderInfo" parameterType="kr.happyjob.study.scm.model.OrderHistoryModel">

</insert>

<!-- 배송지시서 -->
<insert id="insertShipInfo" parameterType="kr.happyjob.study.scm.model.OrderHistoryModel">

</insert>

</mapper>