<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.scm.dao.PurchaseDirectionDAO">

<select id="getPurDirectionList" parameterType="java.util.HashMap" resultType="kr.happyjob.study.scm.model.PurchaseDirectionModel">
	SELECT  BI.BORD_CODE AS 'BORDCODE',
			PD.COMPANYNAME,
			PD.MODELNAME,
			PD.PDNAME,
			BI.BORD_AMT AS 'BORDAMT',
			WI.WH_NAME AS 'WHNAME',
			DATE_FORMAT(DI.DIR_DATE, '%Y-%m-%d') AS 'DIRDATE',
			<!-- BI.BORD_TYPE AS 'BORDTYPE', -->
			DC.detail_name AS 'BORDTYPE'
	FROM 	BORDER_INFO BI INNER JOIN DIRECTION DI ON BI.DIR_CODE = DI.DIR_CODE 
						   INNER JOIN (SELECT 	PD.MODEL_CODE,
												DC.detail_name AS 'MODELNAME',
												PD.PD_NAME AS 'PDNAME',
												UI.company AS 'COMPANYNAME' 
									   FROM PD_INFO PD INNER JOIN tb_userinfo UI ON PD.loginID = UI.loginID 
													   INNER JOIN tb_detail_code DC ON DC.group_code = 'proCD' AND DC.detail_code = PD.MODEL_NAME) PD ON BI.MODEL_CODE = PD.MODEL_CODE 
						   INNER JOIN WHOUSE_INFO WI ON BI.WH_CODE = WI.WH_CODE 
						   INNER JOIN tb_detail_code DC ON DC.group_code = 'purchaseCD' AND BI.BORD_TYPE = DC.detail_code
	<where>
		<if test="type != null and !type.equals('')">
			<choose>
				<when test="type.equals('companyName')">
					AND PD.COMPANYNAME LIKE CONCAT('%', #{keyword},'%') 
				</when>
				<when test="type.equals('modelName')">
					AND PD.MODELNAME LIKE CONCAT('%', #{keyword},'%') 
				</when>
				<when test="type.equals('pdName')">
					AND PD.PDNAME LIKE CONCAT('%', #{keyword},'%') 
				</when>
				<when test = "type.equals('all')">
					AND (PD.COMPANYNAME LIKE CONCAT('%', #{keyword},'%') OR PD.MODELNAME LIKE CONCAT('%', #{keyword},'%') OR PD.PDNAME LIKE CONCAT('%', #{keyword},'%')) 
				</when>
			</choose>
			<if test="(startDate != null) and (!endDate.equals(''))">
				AND DATE_FORMAT(DI.DIR_DATE, '%Y%m%d') BETWEEN #{startDate} AND #{endDate}
			</if>
		</if>
	</where>
	LIMIT	#{startPage}, #{endPage}
</select>

<select id = "getPurDirectionCount" resultType="int" parameterType="java.util.HashMap">
	SELECT  COUNT(*)
	FROM 	BORDER_INFO BI INNER JOIN DIRECTION DI ON BI.DIR_CODE = DI.DIR_CODE 
						   INNER JOIN (SELECT 	PD.MODEL_CODE,
												DC.detail_name AS 'MODELNAME',
												PD.PD_NAME AS 'PDNAME',
												UI.company AS 'COMPANYNAME' 
									   FROM PD_INFO PD INNER JOIN tb_userinfo UI ON PD.loginID = UI.loginID 
													   INNER JOIN tb_detail_code DC ON DC.group_code = 'proCD' AND DC.detail_code = PD.MODEL_NAME) PD ON BI.MODEL_CODE = PD.MODEL_CODE 
						   INNER JOIN WHOUSE_INFO WI ON BI.WH_CODE = WI.WH_CODE 
						   INNER JOIN tb_detail_code DC ON DC.group_code = 'purchaseCD' AND BI.BORD_TYPE = DC.detail_code
	<where>
		<if test="type != null and !type.equals('')">
			<choose>
				<when test="type.equals('companyName')">
					AND PD.COMPANYNAME LIKE CONCAT('%', #{keyword},'%') 
				</when>
				<when test="type.equals('modelName')">
					AND PD.MODELNAME LIKE CONCAT('%', #{keyword},'%') 
				</when>
				<when test="type.equals('pdName')">
					AND PD.PDNAME LIKE CONCAT('%', #{keyword},'%') 
				</when>
				<when test = "type.equals('all')">
					AND PD.COMPANYNAME LIKE CONCAT('%', #{keyword},'%') OR PD.MODELNAME LIKE CONCAT('%', #{keyword},'%') OR PD.PDNAME LIKE CONCAT('%', #{keyword},'%') 
				</when>
			</choose>
			<if test="(startDate != null) and (!endDate.equals(''))">
				AND DATE_FORMAT(DI.DIR_DATE, '%Y%m%d') BETWEEN #{startDate} AND #{endDate}
			</if>
		</if>
	</where>
</select>


</mapper>