<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.system.dao.NoticeDao">

	<!-- 공지사항 목록 조회 -->
	<select id = "noticeList" resultType = "kr.happyjob.study.system.model.NoticeModel">
			select nt.NOT_CODE as notcode
			      ,nt.NOT_TITLE as nottitle
			      ,DATE_FORMAT(nt.NOT_DATE, '%Y-%m-%d') as notdate
			      ,nt.loginID as loginid
			      ,ui.name 
			  from NOTICE nt
			       inner join tb_userinfo ui on ui.loginID = nt.loginID
		<where>
			<if test ="(title != null) and (!title.equals(''))">
			    and nt.NOT_TITLE  Like CONCAT('%', #{title}, '%')
			</if>
			<if test ="(from_date != null) and (!from_date.equals(''))">
			    and nt.NOT_DATE  <![CDATA[>=]]> #{from_date}
			</if>			
			<if test ="(to_date != null) and (!to_date.equals(''))">
			    and nt.NOT_DATE  <![CDATA[<=]]> #{to_date} 
			</if>		
		</where>
		 ORDER BY nt.NOT_CODE DESC
		 LIMIT #{pageIndex}, #{pageSize}
	</select>
	
		
	<!-- 공지사항 목록 총 갯수 조회 -->
	<select id="noticeCnt" resultType="int">
		/*kr.happy.study.system.dao.NoticeDao.noticeCnt*/
		SELECT COUNT(*)
			from NOTICE nt
			       inner join tb_userinfo ui on ui.loginID = nt.loginID
		<where>
			<if test ="(title != null) and (!title.equals(''))">
			    and nt.NOT_TITLE  Like CONCAT('%', #{title}, '%')
			</if>
			<if test ="(from_date != null) and (!from_date.equals(''))">
			    and nt.NOT_DATE  <![CDATA[>=]]> #{from_date}
			</if>			
			<if test ="(to_date != null) and (!to_date.equals(''))">
			    and nt.NOT_DATE  <![CDATA[<=]]> #{to_date} 
			</if>		
		</where>
	</select>	
		
	
	
	<!-- 공지사항 단건 조회 : 공지제목 클릭시 -->
	<select id = "noticeDetail" resultType = "kr.happyjob.study.system.model.NoticeModel">
		SELECT
					u.loginID as loginId
				,	n.NOT_TITLE as nottitle
				,	n.NOT_CON as noticeContent
				,   n.NOT_CODE as notcode
				,   u.name as name
		FROM	NOTICE n
			JOIN	tb_userinfo u
			ON			n.loginID = u.loginID
		WHERE n.NOT_CODE = #{noticeNo}
	</select>
	
		
		
	<!-- 공지사항 신규등록(저장) :  -->
	<insert id = "insertNotice" parameterType="java.util.Map">
	    <selectKey resultType="string" keyProperty="notcode" order="BEFORE">
            SELECT IFNULL(MAX(NOT_CODE),0) + 1 FROM NOTICE 
        </selectKey> 
		INSERT
		INTO		NOTICE
				(
					NOT_CODE, loginID, NOT_TITLE, NOT_CON, NOT_DATE
				)
		VALUES
				(
						#{notcode}
					,	#{loginId}
					,	#{nottitle}
					,	#{noticeContent}
					,	DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
				)
	</insert>
	
	<!-- 공지사항 수정-->
	<update id = "updateNotice">
		UPDATE NOTICE
		SET		NOT_TITLE = #{nottitle}
				,	NOT_CON = #{noticeContent}
				,	NOT_DATE = DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
		WHERE	NOT_CODE = #{notcode}
	</update>
	
	<!-- 공지사항 삭제-->
	<delete id="deleteNotice">
		DELETE
		FROM 	NOTICE
		WHERE 	NOT_CODE = #{notcode}
	</delete>

</mapper>

