<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.ship.dao.DeliveryBuyerDao">

	<!-- 배송담당자 목록 조회 -->
	<select id = "deliveryBuyerList" resultType = "kr.happyjob.study.ship.model.DeliveryBuyerModel">
	select ji.JORD_CODE
          ,ji.JORD_WISHDATE
          ,ui.company
          ,wi.WH_NAME
          ,dc.detail_name as SH_TYPE
          ,dr.dir_code
          ,si.name
     from DIRECTION dr
          inner join (select si.*, ui.name
                      from SHIP_INFO si INNER JOIN tb_userinfo ui ON si.loginID = ui.loginID) si on dr.DIR_CODE = si.DIR_CODE
          inner join PD_INFO pif on si.MODEL_CODE = pif.MODEL_CODE 
          inner join JORDER_INFO ji on ji.JORD_CODE = si.JORD_CODE 
          inner join tb_detail_code dc on dc.group_code = 'shipCD' and dc.detail_code = si.SH_TYPE
          inner join WHOUSE_INFO wi on wi.WH_CODE = si.WH_CODE
          inner join tb_userinfo ui on ui.loginID = ji.loginID  
    WHERE si.loginID = #{loginID} 
			<if test ="(deliveryDoneCheck != null) and (!deliveryDoneCheck.equals(''))">
			    and si.SH_TYPE in ('0','2')
			</if>	
	order by JORD_WISHDATE
	limit #{pageIndex}, #{pageSize} 
	</select>
	
	<!-- 배송담당자 목록 수 조회 -->
	<select id="deliveryBuyerListCnt" resultType="int">
		
		select count(*)
		  from DIRECTION dr
               inner join SHIP_INFO si on dr.DIR_CODE = si.DIR_CODE
               inner join PD_INFO pif on si.MODEL_CODE = pif.MODEL_CODE 
               inner join JORDER_INFO ji on ji.JORD_CODE = si.JORD_CODE 
               inner join tb_detail_code dc on dc.group_code = 'shipCD' and dc.detail_code = si.SH_TYPE
               inner join WHOUSE_INFO wi on wi.WH_CODE = si.WH_CODE
               inner join tb_userinfo ui on ui.loginID = si.loginID
               inner join tb_userinfo ui2 on ui2.loginID = ji.loginID
    	 WHERE si.loginID = #{loginID}       
			<if test ="(deliveryDoneCheck != null) and (!deliveryDoneCheck.equals(''))">
			    and si.SH_TYPE in ('0','2')
			</if>			
	</select>
	
	<!--배송담당자 한건 상세정보  -->
	<select id = "deliveryListOne" resultType = "kr.happyjob.study.ship.model.DeliveryBuyerModel">
	select ji.JORD_CODE
          ,ui2.company
          ,concat(ui.addr,' ',ui.dtl_add) as addr
          ,pif.PD_NAME
          ,ji.JORD_AMT
          ,wi.WH_CODE
          ,wi.WH_NAME
          ,concat(wi.WH_ADDR,' ',wi.WH_ADDR_DTL ) as wh_addr
          ,dc.detail_name as SH_TYPE
          ,ji.MODEL_CODE
          ,ji.loginID
          ,si.SH_CODE
      from DIRECTION dr
           inner join SHIP_INFO si on dr.DIR_CODE = si.DIR_CODE
           inner join PD_INFO pif on si.MODEL_CODE = pif.MODEL_CODE 
           inner join JORDER_INFO ji on ji.JORD_CODE = si.JORD_CODE 
           inner join tb_detail_code dc on dc.group_code = 'shipCD' and dc.detail_code = si.SH_TYPE
           inner join WHOUSE_INFO wi on wi.WH_CODE = si.WH_CODE
           inner join tb_userinfo ui on ui.loginID = si.loginID
           inner join tb_userinfo ui2 on ui2.loginID = ji.loginID     
     where dr.DIR_CODE = #{dir_code}
	
	</select>
	
	<insert id = "insertDelHousing" parameterType="java.util.Map">
	    <selectKey resultType="int" keyProperty="whNo" order="BEFORE">
            SELECT IFNULL(MAX(wh_no),0) + 1 as whNo FROM WHOUSE_HOUSING 
        </selectKey>
		INSERT INTO WHOUSE_HOUSING
						(WH_NO, 
						loginID, 
						WH_CODE, 
						WH_TYPE, 
						WH_AMT, 
						WH_DATE,
						MODEL_CODE)
				VALUES (#{whNo}, 
						#{loginID}, 
						#{wh_code}, 
						#{wh_type}, 
						#{wh_amt}, 
						DATE_FORMAT(now(), '%Y%m%d'),
						#{ModelCode})
	</insert>
	
	<update id="updateDelStock"  parameterType="java.util.Map">
<!--  	 <selectKey resultType="int" keyProperty="whStock" order="BEFORE">
		SELECT WH_STOCK - #{wh_amt} AS 'whStock' 
		FROM WHOUSE_STOCK 
         WHERE WH_CODE = #{wh_code} and MODEL_CODE = #{model_code}  
	 </selectKey> 
     update WHOUSE_STOCK
        set 
            WH_STOCK = #{whStock}
      where WH_CODE = #{wh_code}  -->  
      
     update WHOUSE_STOCK
        set 
            WH_STOCK = (SELECT WH.STOCK
						FROM (SELECT WH_STOCK - #{wh_amt} AS 'STOCK' 
								FROM WHOUSE_STOCK 
						         WHERE WH_CODE = #{wh_code} and MODEL_CODE = #{ModelCode}) WH)
      where WH_CODE = #{wh_code} and 
      		MODEL_CODE = #{ModelCode}         
    </update>
    
    <update id="updateDel"  parameterType="java.util.Map">
     UPDATE SHIP_INFO 
        SET 
        	SH_TYPE = #{sh_type},
        	SH_DATE = DATE_FORMAT(now(), '%Y%m%d')       	
      WHERE SH_CODE = #{sh_code}
    </update>
    
	
</mapper>

