<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.cor.dao.OrderStatusDAO">

<!-- 기업회원별 주문이력 조회 -->
<select id="getOrderStatusList" parameterType="string" resultType="kr.happyjob.study.cor.model.OrderStatusModel">
	SELECT    JI.JORD_NO AS 'jordNo',  
	          SUM(JI.JORD_AMT) AS 'cnt', 
	          SUM(JI.JORD_AMT * PD.PD_PRICE) AS 'total', 
	          JI.JORD_DATE AS 'jordDate', 
	          JI.JORD_WISHDATE AS 'jordWishdate', 
	          JI.JORD_IN AS 'jordIn',
	          SI.SH_TYPE AS 'shType'
	FROM      JORDER_INFO JI INNER JOIN PD_INFO PD ON JI.MODEL_CODE = PD.MODEL_CODE
	                         INNER JOIN SHIP_INFO SI ON JI.JORD_CODE = SI.JORD_CODE 
	WHERE     JI.loginID = #{loginId}
	GROUP BY  JI.JORD_NO, JI.JORD_DATE, JI.JORD_WISHDATE, JI.JORD_IN
</select>

<!-- 주문별 항목 조회 -->
<select id="getOrderDetails" parameterType="kr.happyjob.study.cor.model.OrderStatusModel" resultType="kr.happyjob.study.cor.model.OrderStatusModel">
	SELECT  JI.JORD_NO AS 'jordNo',
			PD.MODEL_CODE AS 'modelCode',
	        PD.MODEL_NAME AS 'modelName',
	        PD.PD_NAME AS 'pdName',
	        PD.PD_CODE AS 'pdCode',
	        PD.PD_CORP AS 'pdCorp',
	        PD.PD_PRICE AS 'pdPrice',
	        JI.JORD_AMT AS 'jordAmt',
	        (JI.JORD_AMT * PD.PD_PRICE) AS 'total'	
	FROM    JORDER_INFO JI INNER JOIN PD_INFO PD ON JI.MODEL_CODE = PD.MODEL_CODE
	WHERE   JI.JORD_NO = #{jordNo}
</select>

<!-- 반품신청 -->
<insert id="insertReturnInfo" parameterType="kr.happyjob.study.cor.model.OrderStatusModel">

</insert>

</mapper>