<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.cor.dao.ShoppingCartDAO">

<!-- 장바구니 조회 -->
<select id="getBasketList" parameterType="string" resultType="kr.happyjob.study.cor.model.ShoppingCartModel">
	SELECT  BA.loginID AS 'loginId', 
			BA.MODEL_CODE AS 'modelCode', 
			PF.PD_NADD AS 'pdNadd', 
			PD.PD_NAME AS 'pdName', 
			PD.PD_PRICE AS 'pdPrice', 
			BA.B_AMT AS 'baAmt', 
			(PD.PD_PRICE * BA.B_AMT) AS 'total', 
			BA.B_WISHDATE AS 'baWishdate'
	FROM    BASKET BA RIGHT OUTER JOIN PD_INFO PD ON BA.MODEL_CODE = PD.MODEL_CODE
                  	  LEFT OUTER JOIN PD_FILE PF ON PD.PDFILE_CODE = PF.PDFILE_CODE
	WHERE   BA.loginID = #{loginId}
</select>

<!-- 주문하기 -->
<select id="getJordCodeMax" resultType="int">
	SELECT  MAX(JORD_CODE) + 1
	FROM	JORDER_INFO
</select>

<select id="getJordNoMax" resultType="int">
	SELECT  MAX(JORD_NO) + 1
	FROM	JORDER_INFO
</select>

<insert id="insertJorderInfo" parameterType="kr.happyjob.study.cor.model.ShoppingCartModel">
<!-- 	<selectKey resultType="int" keyColumn="jordNo" order="BEFORE">
		SELECT MAX(JORD_NO) + 1 AS 'JORDNO'
		FROM	JORDER_INFO
	</selectKey> -->
	<foreach collection="list" item="jo" separator=",">
		INSERT INTO JORDER_INFO (JORD_CODE, MODEL_CODE, loginID, JORD_NO, JORD_DATE, JORD_IN, JORD_WISHDATE, JORD_AMT)
		VALUES (#{jo.jordCode}, #{jo.modelCode}, #{jo.loginId}, #{jo.jordNo}, DATE_FORMAT(now(), '%Y%m%d'), #{jo.jordIn}, #{jo.jordAmt})
	</foreach>
</insert>

<!-- 장바구니 삭제 -->
<delete id="deleteBasketList" parameterType="kr.happyjob.study.cor.model.ShoppingCartModel">
	<foreach collection="list" item="ba" separator=",">
		DELETE FROM BASKET
		WHERE loginID = #{ba.loginId} AND MODEL_CODE = #{ba.modelCode}
	</foreach> 
</delete>

</mapper>